@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* Smooth animations */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
