@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  background-color: #F9FAFB;
  color: #111827;
}

input,
textarea {
  border-color: rgb(209, 213, 219);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(96, 165, 250);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
